<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
</head>
<body class="error-page">
    <h1>The page you were looking for could not be found</h1>
    <p>The page you were looking for could not be found or does not exist. Double check the URL or return to the home page.</p>
    <a href="{{ url_for('home') }}"><span class="home-button">Go to home page</span></a>
</body>
</html>