{% extends 'layout.html' %}
{% block content %}
<script src="{{ url_for('static', filename='randomizeMultichoice.js') }}"></script>
<div>
    <h2>Name : {{ quiz.name }}</h2>
    <p>Description : {{ quiz.desc }}</p>
    <form action="{{ url_for('submit_quiz', quiz_id=quiz.quiz_id ) }}" method="POST">
    {% for question in quiz.questions %}
        <p>{{ question.question }}</p>
        {% if question.type == 1 %}
            {# true false question #}
            <label for="true-{{ question.question_id }}">True</label>
            <input type="radio" name="{{ question.question_id }}" value="True" id="true-{{ question.question_id }}" required>
            <label for="false-{{ question.id }}">False</label>
            <input type="radio" name="{{ question.question_id }}" value="False" id="false-{{ question.question_id }}" required>
        {% elif question.type == 2 %}
            {# Written type question #}
            <input type="text" name="{{ question.question_id }}" required>
        {% elif question.type == 3 %}
            {# multi choice #}
            <div id="{{ question.question_id }}">
                <label for="{{ question.answers[0].answer }}">{{ question.answers[0].answer }}</label>
                <input type="radio" name="{{ question.question_id }}" value="{{ question.answers[0].answer }}" id="{{ question.answers[0].answer }}" required>
                {# false statements #}
                {% for f in false_answers %}
                    {% if f.question_id == question.question_id %}
                        <label for="multi-{{ f.answer }}">{{ f.answer }}</label>
                        <input type="radio" name="{{ question.question_id }}" value="{{ f.answer }}" id="{{ f.answer }}" required>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
