{% extends 'layout.html' %}
{% block content %}
<form action="{{ url_for('create_quiz') }}" method="POST">
    {{ quiz_form.csrf_token }}
    Name {{ quiz_form.name }} <br>
    Desc {{ quiz_form.desc }} <br>
    <div id="quiz_questions">
        <input type="text" name="question{{ loop.index }}" id="question{{ loop.index }}" required>
        <input type="text" name="answer{{ loop.index }}" id="answer{{ loop.index }}" required>
    </div>
    s {{ quiz_form.submit }}
</form>
{% endblock %}

<script>
    const form = document.getElementById('quiz_questions');
    
    function addInput()
    {
        const question = document.createElement('input');
        const answer = document.createElement('input')
        const type = document.createElement('input')
        form.appendChild()
    }

</script>