{% extends 'layout.html' %}
{% block content %}
<script src="{{ url_for('static', filename='quizQuestion.js') }}"></script>
<form action="{{ url_for('create_quiz') }}" method="POST">
    <button onclick="addQuestion()">Add question</button>
    <button onclick="removeLastQuestion()">Remove last question</button>
    {{ quiz_form.csrf_token }}
    Name {{ quiz_form.name }} <br>
    Description {{ quiz_form.desc }} <br>
    <div id="quiz-question"></div>
    {{ quiz_form.submit }}
</form>
{% endblock %}
