{% extends 'layout.html' %}
{% block content %}
{# add quiz form #}
<script src="{{ url_for('static', filename='quizQuestion.js') }}"></script>
<script>
    function factQuestion(form) {
        form.innerHTML =`    
        {{ fact_form.csrf_token }}
        {{ fact_form.fact_statement }}
        <p>Set answer</p>
        {{ fact_form.fact_answer }}
        {{ fact_form.submit }}
        `;
    };
    function writtenQuestion(form) {
        form.innerHTML = `
        {{ written_form.csrf_token }}
        {{ written_form.written_question }}
        {{ written_form.written_answer }}
        {{ written_form.submit }}
        `;
    };
    function multiChoiceForm(form) {
        form.innerHTML = `
        {{ multi_choice_form.csrf_token }}
        {{ multi_choice_form.multi_question }}
        {{ multi_choice_form.correct_answer }}
        {{ multi_choice_form.false_one }}
        {{ multi_choice_form.false_two }}
        {{ multi_choice_form.false_three }}
        {{ multi_choice_form.submit }}
        `;
    };
</script>
<div class="flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for c, m in messages %}
                <li class="{{c}}">{{m}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="display-one-quiz">
    <div class="quiz-info">
        <h2>{{ quiz.name }}</h2>
        <p>{{ quiz.description }}</p>
        <p>Created by <a href="{{ url_for('user_page', user_id=quiz.user.user_id) }}"><span style="border-bottom: solid 5px var(--accent-colour); font-weight: bold;">{{ quiz.user.username }}</span></a></p>
    </div>
    <div class="attempt-button">
        <form action="{{ url_for('attempt_quiz', quiz_id=quiz_id) }}">
            <input type="submit" value="Start quiz">
        </form>
    </div>
    <div class="leaderboard">
        {% if quiz.user_score|length %}
        <h3>Leaderboard</h3>
        {% for u in quiz.user_score %}
        <div class="score">
            <a href="{{ url_for('user_page', user_id=u.user.user_id) }}">
                <p>
                    <span style="border-bottom: solid 3px var(--accent-colour); font-weight: bold">{{ u.user.username }}</span>
                </p>
            </a>
            </span>
            <p>Placement: {{ loop.index }}</p>
            <p>Score: {{ u.score }}</p>
            <p>Time: {{ u.time }}s</p>
        </div>
        {% endfor %}
        {% else %}
        <h3>No one has attempted this quiz</h3>
        {% endif %}
    </div>
    {% if quiz.user_id == current_user.user_id %}
    <div class="edit-quiz">
        <div class="select-buttons">
            <button onclick="addQuestion(1)">Add True/False question</button>
            <button onclick="addQuestion(2)">Add written answer question</button>
            <button onclick="addQuestion(3)">Add multiple choice question</button>
        </div>
        {# intentionally blank #}
        <div id="create-question">
        </div>
    </div>
{% endif %}
    <div class="questions">
        {# loop through all questions in quiz #}
        {% if quiz.questions %}
        {% for question in quiz.questions %}
        <div class="question">
            <p><span style="font-weight: bold; font-size: 1.2em;">{{ types[question.type] }}</span></p>
            <p>Question : {{ question.question }}</p>
            {% if quiz.user_id == current_user.user_id %}
                <p>Correct answer: {{ question.answers[0].answer }}</p>
                {% if question.falseAnswer %}
                    <p>False answer: 
                        {% for f in question.falseAnswer %}
                        {{ f.answer }}, 
                        {% endfor %}
                    </p>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
