{% extends 'layout.html' %}
{% block content %}
{# loop through all quizzes #}
<div class="search">
    <form action="{{ url_for('view_query_quiz') }}" method="POST">
        <input type="text" name="query">
        <input type="submit" name="submit">
    </form>
    <form action="{{ url_for('view_query_quiz') }}" method="POST">
        <input type="submit" name="clear search">
    </form>
</div>
<div class="quiz-container">
    {% for quiz in quiz %}
    {# quiz info #}
    {% if quiz.questions|length > 0 %}
        <a href="{{ url_for('view_one_quiz', quiz_id=quiz.quiz_id) }}">
            <div class="quiz">
                <h2>{{ quiz.name }}</h2>
                <p>{{ quiz.description }}</p>
                {# loop through all questions in quiz #}
                <h3>Sample questions</h3>
                <div class="quiz-questions">
                    {% for question in quiz.questions %}
                    <div class="question">
                        <p>{{ types[question.type] }} question</p>
                        <p>{{ question.question }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}