{% extends 'layout.html' %}
{% block content %}
{# loop through all quizzes #}
<div class="view-quiz">
    {% for quiz in quiz %}
    {# quiz info #}
    <h2>Name : {{ quiz.name }}</h2>
    <p>Description : {{ quiz.description }}</p>
    {# loop through all questions in quiz #}
        {% if quiz.questions %}
            {% for question in quiz.questions %}
                <p>Question : {{ question.question }}</p>
                <p>Type : {{ types[question.type] }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}