{% extends 'layout.html' %}
{% block content %}
{# add quiz form #}
<script src="{{ url_for('static', filename='quizQuestionThree.js') }}"></script>
{% if quiz.user_id == current_user.user_id %}
<button onclick="addQuestion(1)">Add True/False question</button>
<button onclick="addQuestion(2)">Add written answer question</button>
<button onclick="addQuestion(3)">Add multiple choice question</button>
<div id="create-question">

</div>
{% endif %}
<div class="one-quiz">
    <h2>Name : {{ quiz.name }}</h2>
    <p>Description : {{ quiz.desc }}</p>
    {# loop through all questions in quiz #}
    {% if quiz.questions %}
    {% for question in quiz.questions %}
        <p>Question : {{ question.question }}</p>
        <p>Type : {{ types[question.type] }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}