<ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('view_quiz') }}">Browse</a></li>
    <!-- Logged in only -->
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('quiz_creation') }}">My Quizzes</a></li>
    <li><a href="{{ url_for('settings') }}">Settings</a></li>
    <!-- <li><a href="{{ url_for('account') }}">My Account</a></li> -->
    <li><a href="{{ url_for('account_logout') }}">Logout</a></li>
    <!-- Not logged in only -->
    {% else %}
    <li><a href="{{ url_for('account') }}">Signup/Login</a></li>
    {% endif %}
</ul>
