{% extends 'layout.html' %}
{% block content %}
<div class="flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for c, m in messages %}
                <li class="{{c}}">{{m}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="create-quiz-form">
    <h2>Create new quiz</h2>
    <form action="{{ url_for('create', form_type=0) }}" method="POST">
        {{ quiz_info.csrf_token }}
        {{ quiz_info.name }}
        {{ quiz_info.desc }}
        {{ quiz_info.submit }}
    </form>
</div>
<div class="quiz-container user-quiz-container">
    {% for quiz in user_quizzes %}
    {# quiz info #}
    <a href="{{ url_for('view_one_quiz', quiz_id=quiz.quiz_id) }}">
        <div class="quiz user-my-quiz">
            <h2>{{ quiz.name }}</h2>
            <p>{{ quiz.description }}</p>
            {# loop through all questions in quiz #}
            <div class="quiz-questions">
                {% for question in quiz.questions %}
                <div class="question">
                    <p><span style="font-weight: bold; font-size: 1.2em;">{{ types[question.type] }}</span></p>
                    <p>{{ question.question }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
