{% extends 'layout.html' %}
{% block content %}
<div class="user-page-container">
    <div class="user-page-username">
        <h2>{{ user.username }}</h2>
    </div>
    <div class="user-page-quiz">
        <p>Quizzes:</p>
        <ul>
        {% for q in user.quizzes %}
            <li>
                <p>{{ q.name }}</p>
                <p>{{ q.desc }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="user-page-score">
        
    </div>
</div>



<p>Scores</p>
{% endblock %}
